@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primaryLightColor: #d4e6a5;
$primaryColor: #476a2e;
$primaryDarkColor: #c02c03;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBackground: #f1f5f8;
$mainOverlay: rgba(35,10,36,0.4);
$mainBlack: #222;
$mainGrey: #ececec;
$drakGray: #afafaf;
$mainRed: #bd0303;
$mainTransition: all 0.3s linear;
$lightShadow: 2px 5px 3px 0px rgba(0,0,0,0.5);
$darkShadow: 4px 10px 5px 0px rgba(0,0,0,0.5);